<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Whip.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Whip.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Whip.View.Properties.Settings>
            <setting name="MusicDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmApiSessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MainColourRgb" serializeAs="String">
                <value>#4D64A3</value>
            </setting>
            <setting name="Scrobbling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShuffleOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchiveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Offline" serializeAs="String">
                <value>False</value>
            </setting>
        </Whip.View.Properties.Settings>
        <Whip.Properties.Settings>
            <setting name="MusicDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmApiSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmApiSessionKey" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MainColourRgb" serializeAs="String">
                <value>#4D64A3</value>
            </setting>
            <setting name="Scrobbling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShuffleOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArchiveDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFmStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Offline" serializeAs="String">
                <value>False</value>
            </setting>
        </Whip.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>