<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Whip" Language="2057" Version="1.1.0.16" Manufacturer="Reserved Words" UpgradeCode="0c5e656a-3115-426f-aa0a-2467ee342fab">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <!-- Check that .NET framework is installed -->
    <PropertyRef Id="NETFRAMEWORK20"/>
    <Condition Message="This application requires .NET Framework 2.0. Please install the .NET Framework then re-run the installer.">
      <![CDATA[Installed OR NETFRAMEWORK20]]>
    </Condition>

    <Icon Id="appicon.ico" SourceFile="whipapp.ico"/>
    
		<Feature Id="MainFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="MainApplicationComponents" />
		</Feature>

	  <!-- Adds a simple UI with just a licence agreement and allows user to select install directory -->
	  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="licence.rtf" />
	  <UIRef Id="WixUI_InstallDir"/>
    
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Add program files to Program Files folder -->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="ManufacturerFolder" Name="Reserved Words">
				  <Directory Id="INSTALLFOLDER" Name="Whip" />
        </Directory>
			</Directory>
      <!-- Add Start menu shortcut directory -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="WhipShortcuts" Name="Whip" />
      </Directory>
		</Directory>
	</Fragment>

  <Fragment>
    <ComponentGroup Id="MainApplicationComponents" Directory="INSTALLFOLDER">
      <!-- Files below manually copied from app release folder and listed - need to find a more efficient way to do this -->
      <Component Id="MainApplication">
        <File Id="WhipExe" 
              Source="..\Whip.View\bin\Release\Whip.exe"
              KeyPath="yes">
          <Shortcut Id="WhipShortcut"
                    Directory="WhipShortcuts"
                    Name="Whip"
                    Description="The best music player ever"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes"
                    Icon="appicon.ico"/>
        </File>
        <RemoveFolder Id="DeleteWhipShortcut"
                      Directory="WhipShortcuts"
                      On="uninstall"/>
      </Component>
      <Component Id="Autofac.dll">
        <File Source="..\Whip.View\bin\Release\Autofac.dll" />
      </Component>
      <Component Id="FontAwesome.WPF.dll">
        <File Source="..\Whip.View\bin\Release\FontAwesome.WPF.dll" />
      </Component>
      <Component Id="GalaSoft.MvvmLight.dll">
        <File Source="..\Whip.View\bin\Release\GalaSoft.MvvmLight.dll" />
      </Component>
      <Component Id="GalaSoft.MvvmLight.Extras.dll">
        <File Source="..\Whip.View\bin\Release\GalaSoft.MvvmLight.Extras.dll" />
      </Component>
      <Component Id="GalaSoft.MvvmLight.Platform.dll">
        <File Source="..\Whip.View\bin\Release\GalaSoft.MvvmLight.Platform.dll" />
      </Component>
      <Component Id="Interop.WMPLib.dll">
        <File Source="..\Whip.View\bin\Release\Interop.WMPLib.dll" />
      </Component>
      <Component Id="LastFm.dll">
        <File Source="..\Whip.View\bin\Release\LastFm.dll" />
      </Component>
      <Component Id="LastFmApi.dll">
        <File Source="..\Whip.View\bin\Release\LastFmApi.dll" />
      </Component>
      <Component Id="Microsoft.Practices.ServiceLocation.dll">
        <File Source="..\Whip.View\bin\Release\Microsoft.Practices.ServiceLocation.dll" />
      </Component>
      <Component Id="Microsoft.Threading.Tasks.dll">
        <File Source="..\Whip.View\bin\Release\Microsoft.Threading.Tasks.dll" />
      </Component>
      <Component Id="Microsoft.Threading.Tasks.Extensions.dll">
        <File Source="..\Whip.View\bin\Release\Microsoft.Threading.Tasks.Extensions.dll" />
      </Component>
      <Component Id="Newtonsoft.Json.dll">
        <File Source="..\Whip.View\bin\Release\Newtonsoft.Json.dll" />
      </Component>
      <Component Id="Ninject.dll">
        <File Source="..\Whip.View\bin\Release\Ninject.dll" />
      </Component>
      <Component Id="Ninject.Extensions.Conventions.dll">
        <File Source="..\Whip.View\bin\Release\Ninject.Extensions.Conventions.dll" />
      </Component>
      <Component Id="NLog.dll">
        <File Source="..\Whip.View\bin\Release\NLog.dll" />
      </Component>
      <Component Id="Ookii.Dialogs.Wpf.dll">
        <File Source="..\Whip.View\bin\Release\Ookii.Dialogs.Wpf.dll" />
      </Component>
      <Component Id="System.Windows.Interactivity.dll">
        <File Source="..\Whip.View\bin\Release\System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="TagLibSharp.dll">
        <File Source="..\Whip.View\bin\Release\TagLibSharp.dll" />
      </Component>
      <Component Id="taglibsharp.dll">
        <File Source="..\Whip.View\bin\Release\taglib-sharp.dll" />
      </Component>
      <Component Id="TweetInvi.dll">
        <File Source="..\Whip.View\bin\Release\TweetInvi.dll" />
      </Component>
      <Component Id="Whip.Common.dll">
        <File Source="..\Whip.View\bin\Release\Whip.Common.dll" />
      </Component>
      <Component Id="Whip.Logging.dll">
        <File Source="..\Whip.View\bin\Release\Whip.Logging.dll" />
      </Component>
      <Component Id="Whip.LyricsApi.dll">
        <File Source="..\Whip.View\bin\Release\Whip.LyricApi.dll" />
      </Component>
      <Component Id="Whip.Services.dll">
        <File Source="..\Whip.View\bin\Release\Whip.Services.dll" />
      </Component>
      <Component Id="Whip.Services.Interfaces.dll">
        <File Source="..\Whip.View\bin\Release\Whip.Services.Interfaces.dll" />
      </Component>
      <Component Id="Whip.TweetInvi.dll">
        <File Source="..\Whip.View\bin\Release\Whip.TweetInvi.dll" />
      </Component>
      <Component Id="Whip.ViewModels.dll">
        <File Source="..\Whip.View\bin\Release\Whip.ViewModels.dll" />
      </Component>
      <Component Id="WmpPlayer.dll">
        <File Source="..\Whip.View\bin\Release\WmpPlayer.dll" />
      </Component>
      <Component Id="Whip.XmlDataAccess.dll">
        <File Source="..\Whip.View\bin\Release\Whip.XmlDataAccess.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.dll">
        <File Source="..\Whip.View\bin\Release\Xceed.Wpf.AvalonDock.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Aero.dll">
        <File Source="..\Whip.View\bin\Release\Xceed.Wpf.AvalonDock.Themes.Aero.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.Metro.dll">
        <File Source="..\Whip.View\bin\Release\Xceed.Wpf.AvalonDock.Themes.Metro.dll" />
      </Component>
      <Component Id="Xceed.Wpf.AvalonDock.Themes.VS2010.dll">
        <File Source="..\Whip.View\bin\Release\Xceed.Wpf.AvalonDock.Themes.VS2010.dll" />
      </Component>
      <Component Id="Xceed.Wpf.DataGrid.dll">
        <File Source="..\Whip.View\bin\Release\Xceed.Wpf.DataGrid.dll" />
      </Component>
      <Component Id="Xceed.Wpf.Toolkit.dll">
        <File Source="..\Whip.View\bin\Release\Xceed.Wpf.Toolkit.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

</Wix>
