<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Whip" Language="2057" Version="1.1.3.0" Manufacturer="Reserved Words" UpgradeCode="0c5e656a-3115-426f-aa0a-2467ee342fab">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <!-- Check that .NET framework is installed -->
    <PropertyRef Id="NETFRAMEWORK20"/>
    <Condition Message="This application requires .NET Framework 2.0. Please install the .NET Framework then re-run the installer.">
      <![CDATA[Installed OR NETFRAMEWORK20]]>
    </Condition>

    <Icon Id="appicon.ico" SourceFile="whipapp.ico"/>
    
		<Feature Id="MainFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="MainApplicationComponents" />
		</Feature>

	  <!-- Adds a simple UI with just a licence agreement and allows user to select install directory -->
	  <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>

    <WixVariable Id="WixUILicenseRtf" Value="licence.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="background.bmp"/>
    
  </Product>

</Wix>
