@model Whip.Web.Models.PlayViewModel

<div id="tab-current-playlist">
    <h1>Current Playlist</h1>

    <h2>@Html.DisplayFor(m => m.Title)</h2>

    <div class="section">

        @Html.Partial("_TrackList", Model.Tracks)

    </div>
</div>