@model Whip.Web.Models.PlaylistsViewModel

<h1>Playlists</h1>

<h2>Standard Playlists</h2>

<ul>
    @foreach (var playlist in Model.StandardPlaylists)
    {
        <li>@Html.ActionLink(playlist.Title, "StandardPlaylist", new { id = playlist.Id })</li>
    }
</ul>

<h2>Criteria Playlists</h2>

<ul>
    @foreach (var playlist in Model.CriteriaPlaylists)
    {
        <li>@Html.ActionLink(playlist.Title, "CriteriaPlaylist", new { id = playlist.Id })</li>
    }
</ul>

<h2>Ordered Playlists</h2>

<ul>
    @foreach (var playlist in Model.OrderedPlaylists)
    {
        <li>@Html.ActionLink(playlist.Title, "OrderedPlaylist", new { id = playlist.Id })</li>
    }
</ul>