@model Whip.Web.Models.PlayViewModel

<h1>@Html.DisplayFor(m => m.Title)</h1>

<button type="button" data-whip-play-url="@Html.DisplayFor(m => m.PlayUrl)" class="btn btn-default">Play</button>

<div class="section">

    @Html.Partial("_TrackList", Model.Tracks)

</div>