<div id="player">
    <div class="section">
    
        <div class="panel panel-default">
        
            <div class="panel-heading">
                <div class="panel-title">
                    Currently Playing
                    <span id="loved" class="glyphicon glyphicon-heart hidden pull-right"></span>
                    <span id="notloved" class="glyphicon glyphicon-heart-empty pull-right"></span>
                </div>
            </div>

            <div class="panel-body">
            
                <img src="" id="artwork" class="img-responsive" />

                <audio id="controls" controls controlsList="nodownload">
                    <source id="mpeg_src" src="" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>

                <p id="title"></p>
                <p id="artist"></p>
                <p id="album"></p>
                <p id="year"></p>

                <div class="btn-group block" role="group">
                    <button type="button" class="previous btn btn-default"><span class="glyphicon glyphicon-step-backward"></span></button>
                    <button type="button" class="play btn btn-default"><span class="glyphicon glyphicon-play"></span></button>
                    <button type="button" class="pause hidden btn btn-default"><span class="glyphicon glyphicon-pause"></span></button>
                    <button type="button" class="next btn btn-default"><span class="glyphicon glyphicon-step-forward"></span></button>
                </div>
            </div>
        </div>

    </div>
</div>