<div id="player" class="section">
    
    <div id="artwork" class="col-sm-12">
        <img src="" class="img-responsive"/>
    </div>

    <div class="col-sm-12">
        <audio id="controls" controls controlsList="nodownload">
            <source id="mpeg_src" src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <div class="col-sm-12">
        <p id="description"></p>
    </div>

    <div class="btn-group block" role="group">
        <button id="previous" type="button" class="btn btn-default">Previous</button>
        <button id="play" type="button" class="btn btn-default">Play</button>
        <button id="pause" type="button" class="hidden btn btn-default">Pause</button>
        <button id="next" type="button" class="btn btn-default">Next</button>
    </div>

</div>
