@using Whip.Web.Models
@model PlayViewModel

<div class="screen-panel panel panel-default">
    <div class="panel-heading">
        <div class="panel-title"><a data-whip-url="/Playlists/">Playlists</a>  / @Html.DisplayFor(m => m.Title)</div>
    </div>
    
    <div class="panel-body no-padding">
        @Html.Partial("_TrackList", Model.Tracks)
    </div>

    <div class="panel-footer">
        <button type="button" data-whip-play-url="@Html.DisplayFor(m => m.PlayUrl)" class="btn btn-default btn-block">Play</button>
    </div>
</div>