<div id="player">
    <div id="artwork" class="col-sm-12">
        <img src="" class="img-responsive"/>
    </div>

    <div class="col-sm-12">
        <audio id="controls" controls controlsList="nodownload">
            <source id="mpeg_src" src="" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <div class="col-sm-12">
        <p id="description"></p>
    </div>
        
    <button id="previous" type="button">Previous</button>
    <button id="play" type="button">Play</button>
    <button id="pause" type="button" class="hidden">Pause</button>
    <button id="next" type="button">Next</button>
</div>
