@model Whip.Web.Models.TrackListViewModel

@{
    var panelClass = Model.PanelHasFooter
        ? "panel-body"
        : "panel-body panel-body-no-footer";
}

@if (Model.Tracks != null && Model.Tracks.Any())
{
    <div class="@panelClass panel-table">
        <table class="table table-striped table-condensed">
            <tbody>
            @foreach (var track in Model.Tracks)
            {
                <tr>
                    <td>@Html.DisplayFor(m => track.Track.Title)</td>
                    <td>@Html.DisplayFor(m => track.Track.Artist.Name)</td>
                    <td>@Html.DisplayFor(m => track.Track.Disc.Album.Title)</td>
                </tr>
            }

            </tbody>
        </table>
    </div>
}
else
{
    <div class="@panelClass">
        <p>No tracks to display</p>
    </div>
}