body {
    padding-top: 45px;
    padding-bottom: 45px;
    font-size: 12px;
    height: 100%;
    overflow-y: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    padding: 5px;
    height: 45px;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: black;
    text-align: center;
    padding: 5px;
    height: 45px;
}

footer button.btn-default {
    background-color: black;
    border-color: black;
    color: white;
    font-size: 1.2em;
}



h1 {
    font-size: 1.8em;
    margin-top: 0;
}

h2 {
    margin-top: 0;
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}

.body-content {
    height: 100%;
    overflow-y: hidden;
}

#main, #sidebar {
    height: 100%;
    overflow-y: hidden;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

audio::-webkit-media-controls-play-button {
    display: none;
}

audio::-webkit-media-controls-current-time-display {
    margin-left: 10px;
}

audio {
    width: 100%;
}

a {
    cursor: pointer;
}

div.section {
    margin: 10px 0;
}

.btn-group.block {
    display: flex;
}

.block .btn {
    flex: 1;
}

.btn-group-vertical.block {
    width: 100%;
}

.glyphicon-heart,
.glyphicon-heart-empty {
    color: firebrick;
}

.track table tr td:first-of-type {
    width: 6em;
}

.float-left {
    float: left;
}

#current-track-label {
    color: #ddd;
    font-weight: bold;
}

#current-track-content {
    max-height: 1.5em;
    overflow-y: hidden;
    overflow-x: hidden;
}

#current-track-header {
    color: #ddd;
    overflow-x: hidden;
}

table.tracklist>tbody>tr>td,
table.tracklist>tbody>tr>th,
table.playlists>tbody>tr>td,
table.playlists>tbody>tr>th {
    border-top: none;
    padding-bottom: 0;
}

table.tracklist tr td:nth-of-type(1) {
    width: 1%;
}

table.tracklist tr td:nth-of-type(2) {
    width: 65%;
}

table.tracklist tr td:nth-of-type(3) {
    width: 33%;
}

table.tracklist tr td:nth-of-type(4) {
    width: 1%;
}

table.playlists>tbody>tr>td,
table.playlists>tbody>tr>th {
    padding: 0;
}

table.playlists>tbody>tr>td:first-of-type,
table.playlists>tbody>tr>th:first-of-type {
    padding-right: 5px;
}

div.btn-group-square {
    width: 100%;
}

div.btn-group-square button {
    overflow-x: hidden;
}

div.btn-group-playlists button[data-whip-url],
div.btn-group-playlists button[data-whip-artist-url] {
    max-width: 3em;
    min-width: 3em;
}

div.btn-group-playlists {
    margin-bottom: 1.5em;
}

.bold-label {
    margin-top: 10px;
    font-weight: bold;
}

/* MOBILE ONLY */

.body-content {
    padding: 0;
}

.screen-panel {
    border-radius: 0;
    height: calc(100vh - 86px);
    overflow-y: hidden;
}

.screen-panel .panel-heading {
    height: 35px;
    padding: 0.6em;
}

.screen-panel .panel-body {
    height: calc(100vh - 135px); /* Full height - header - footer - panel footer */
    overflow-y: scroll;
    margin: 0;
}

.screen-panel .panel-heading~.panel-body {
    height: calc(100vh - 180px); /* Full height - header - footer - panel header - panel footer */
}

.screen-panel .panel-body.panel-table {
    padding: 0;
}

.screen-panel .panel-body.panel-body-no-footer {
    height: calc(100vh - 125px); /* Full height - header - footer - panel header */
}

.screen-panel .panel-footer {
    position: absolute;
    bottom: 45px;
    height: 45px;
    padding: 5px;
    width: 100%;
}

#player .panel-footer {
    height: 85px;
}

#player-buttons {
    margin-bottom: 5px;
}

a[data-whip-url] {
    text-decoration: underline;
}

div.tab-content > div.tab-pane > div.panel > table {
    margin-top: -2px;
}