body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

audio::-webkit-media-controls-play-button {
    display: none;
}

audio::-webkit-media-controls-current-time-display {
    margin-left: 10px;
}

audio {
    width: 100%;
}

a {
    cursor: pointer;
}

div.section {
    margin: 10px 0;
}

.btn-group.block {
    display: flex;
}

.block .btn {
    flex: 1;
}

.btn-group-vertical.block {
    width: 100%;
}

.glyphicon-heart,
.glyphicon-heart-empty {
    color: firebrick;
}

.track table tr td:first-of-type {
    width: 6em;
}

i {
    font-size:1.5em;
}

.float-left {
    float: left;
}

.subheader {
    background: #EEEEEE;
    margin-top: -10px;
    padding: 0.5em;
    min-height: 2.5em;
    max-height: 2.5em;
}

#current-track-label {
    font-weight: bold;
    float: left;
    padding-right: 0.5em;
}

#current-track-header {
    line-height: 1.5em;
    white-space: nowrap;
}